<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}">Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h3>Добавить покупателя</h3>
<form method="post" th:action="@{/customer/create}" th:object="${customerDTO}">
    Имя: <input type="text" th:field="*{name}">
    <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br>
    Email: <input type="email" th:field="*{email}">
    <span style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br>
    Адрес: <input type="text" th:field="*{address}">
    <span style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
    <br>
    Дата покупки: <input type="date" th:field="*{orderDate}">
    <span style="color:red" th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}"></span>
    <br>
    <button class="btn add" type="submit">Добавить</button>
    <a class="cancel" th:href="@{/customer/home}">Отмена</a>

</form>



</body>
</html>